
body {
    margin: 0;
    background-color: aliceblue;
}
.grid{
  width: 450px;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 100px;
    padding: 10px;
    height: 100px; /* Should be removed. Only for demonstration */
    background-color:#aaa;
    margin-left:2%;
    margin-top:2%;
}

.center{
    margin: auto;
    padding: 10px;
}
.welcome-message{
  text-align: center;
  font-size: 2em;
}
